{% extends 'base.html.twig' %}

{% block body %}
<h1 class='text-center'>{{genre.genre}}</h1>

<div class="d-flex flex-wrap justify-content-around">
{% for book in books %}
<div class="card" style="width: 18rem; height:60vh; overflow:scroll; margin:1em">
  
   {% if book.refbd in couvertures %}
            <img src="{{ asset('images/') ~ book.refbd ~ ".jpg" }}" alt="{{ book.refbd }}"></img>
            {% else %}
            <img src="{{ asset('images/defaut.jpg') }}" alt="{{ book.refbd }}"></img>
            {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{book.titre}}</h5>
    {% if book.resume == null %}
    <p class="card-text">Pas de description</p>
    {% else %}
    <p class="card-text">{{ book.resume }}</p>
    {% endif %}
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
